In [1]:

from urllib.parse import urljoin
import datetime as datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

from csv import reader


parks_forecast  = pd.read_csv('parks_production.csv')
import csv
park_names = pd.read_csv('Parks_data_names.csv')

In [2]:
parks_forecast

                        Date     Asset  Value
0        2022-02-08 00:00:00   ritsona    0.0
1        2022-02-08 00:15:00   ritsona    0.0
2        2022-02-08 00:30:00   ritsona    0.0
3        2022-02-08 00:45:00   ritsona    0.0
4        2022-02-08 01:00:00   ritsona    0.0
...                      ...       ...    ...
1729621  2022-05-05 22:45:00  abrakota    0.0
1729622  2022-05-05 23:00:00  abrakota    0.0
1729623  2022-05-05 23:15:00  abrakota    0.0
1729624  2022-05-05 23:30:00  abrakota    0.0
1729625  2022-05-05 23:45:00  abrakota    0.0

[1729626 rows x 3 columns]

In [7]:
name_per_park = park_names["Prefix"]
name_per_park

0           kalephione_1
1            megala_1360
2       agrotemakhio_606
3                loutsia
4                agr_717
             ...
110            group_log
111              mpaltsa
112             murike_7
113    khrestos_potamias
114       agia_paraskeue
Name: Prefix, Length: 115, dtype: object